set mysql_connection_string "mysql://user:password@127.0.0.1/aterny?supportBigNumbers=true&multipleStatements=true&connectTimeout=60000&acquireTimeout=60000&timeout=60000"
set mysql_slow_query_warning 5000