@font-face {
    font-family: 'FuturaStdMedium';
    src: url('futurastd-medium.eot');
    src: url('futurastd-medium.eot') format('embedded-opentype'),
         url('futurastd-medium.woff') format('woff'),
         url('futurastd-medium.ttf') format('truetype'),
         url('futurastd-medium.svg#FuturaStdMedium') format('svg');
}
